
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

html {
    font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  max-width: 1024px; /*максимальная ширина может иметь другое значение*/
  padding: 0 15px;
  margin: 0 auto;
  border: 1px solid #b55;
  border-radius: 10px;
}

#top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#issLocation {
    height: 50px;
    width: 49%;
    border: 1px solid #b55;
    border-radius: 10px;
    order: 1;   
}


#dateTime {
    height: 50px;
    width: 49%;
    border: 1px solid #b55;
    border-radius: 10px;
    order: 2;   
}


#main {
    display: flex;
    flex-direction: row;
}


#map {
    height: 450px;
    width: 60%;
    border: 1px solid #b55;
    border-radius: 10px;
    order: 1;
}

#crew {
    height: 450px;
    width: 30%;
    border: 1px solid #b55;
    border-radius: 10px;
    order: 2;
    display: flex;
    flex-direction: column;
}

#crewList {
    height: 99%;
    width: 99%;
    border: 1px solid #b55;
    border-radius: 10px;
}

#crewCount {
    height: 30%;
    width: 99%;
    border: 1px solid #b55;
    border-radius: 10px;    
}